






<img id="main_image" src="assets/img/welcome.jpg" alt="">

<nav class="navbar navbar-dark bg-dark mynavbar">
  <a class="navbar-brand" href="/">
    <img src="assets/img/header.png" height="90" class="d-inline-block align-top" alt="">
  </a>
</nav>


<h1 id="main_text">
  ONLINE-SCHOOL
</h1>

<p id="code_code_code1">
  CODE...
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CODE...
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CODE...
</p>

<p id="code_code_code2">
  CODE...
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CODE...
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CODE...
</p>

<p id="code_code_code3">
  CODE...
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CODE...
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CODE...
</p>

<a routerLink="/login"><button type="button" id="btn1" class="btn btn-success">START CODING</button></a>
<a routerLink="/registration"><button type="button" id="btn2" class="btn btn-success">START STUDY</button></a>
